body{
    font-family: 'Kanit', sans-serif;
    margin: 0px;
}
.display{
    display: flex;
    line-height: 20px;
}
.skip-color{
    color: blue;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(blue, black);
    color: white;
    border-radius: 20px;
    padding:10px 20px 10px;
    font-weight: 400;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 45px;
}
.half-width p{
    padding-top: 20px;
    padding-bottom: 25px;
}
.first-half{
    padding: 80px;
}
.section-two{
    margin-top: 40px;
}
h2{
    font-size: 30px;
}
.background-1{
    background-image: url(images/background-1.jpg);
    background-repeat: no-repeat;    
}
.section-three{
    text-align: center;
    padding-left:300px;
    padding-right: 300px;
}
.recipie-title{
    margin-left: 80px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 40px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    height: 600px;
 
}
.recipie-title img{
    width:460px;
    margin-right: 0;
    margin: 0;
    
}